<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <h1>Skill: <%= skillName %></h1>
    <h3>Experience Level: <%= skill.experience %></h3>
    <h3>Certified: <%= (skill.certified) ? 'Yes' : 'No' %></h3>
    <br>
    <a class="button" href="/skills">Back</a>
</body>
</html>